@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.main{
    padding: 55px;
}
li, a {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color: black;
    color: white;
}
header h1{
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: left;

}
header{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(187, 214, 226);
}

.about_me, .projects, .info{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: black;
}

p{
    color: black;
}

.projects p:hover{
    color: rgb(184, 218, 233);
}

p{
    color: black;
}

.info p:hover{
    color: rgb(184, 218, 233);
}

footer p {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
}